@media (max-width:1200px) {
.profile img{
    width: 380px;
}
.profile::before{
    width: 370px;
    height: 370px;  
}
}
@media (max-width: 1090px){
  :root{
    --sizes: 550px;
  }
  header{
    padding: 0 1.7rem;
  }
  .portfolio{
    font-size: 28px;
  }
  nav a{
    font-size: 14px;
      padding: 0 0.5rem;
  }
  .profileNtext{
    flex-direction: column;
    align-items: center;
  }
  .night span{
    padding-right: 10px;
  }
  nav{
    display: block;
  }
  #navTitle{
    display: none;
  }
  nav h1{
    display: none;
  }
  .aboutme{
    flex-direction:column;
  }
  .intro{
    padding: 10px;
  }
 
}
@media (max-width: 810px){
  :root{
    --sizes: 450px;
  }
  nav{
    display: none;
  }
  nav.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    z-index: 19;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #0f172a28;
    backdrop-filter: blur(8px);
    height: auto;
    /* padding: 50px 10px; */
    padding: 10px ;
    color: #90abd6;
    transition: all 2s;
    border: white solid .5px;
    border-bottom-left-radius: 10px;
  }
  nav h1.show{
    display: block !important;
  }
  #closeIcon{
    color: white;
  }
  nav a{
    font-size: 24px;
  }
  .menu-icon{
    display: block !important;
  }
  .profileNtext{
    flex-direction: column;
  }
  .profile img{
    width: 380px;
    z-index: 0;
  }
  .profile::before{
    width: 370px;
    height: 370px;
    z-index: 0;
  }
  .profileNtext{
    align-items: center;
  }
  .night span{
    display: none;
  } 
  .navHome::after{
    display: none;
  }
}

@media (max-width: 600px){
  :eoot{
    --sizes: 300px;
  }
  main{
    padding: 100px 28px;
  }
  .profile img{
    width: 330px;
  }
  .profile::before{
    width: 320px;
    height: 320px;
  }
}

@media (max-width: 480px){
  :root{
    --sizes: 300px
  }
  header{
    padding: 0 1rem;
  }
  main{
    padding: 100px 18px;
  }
  .profileNtext{
    margin-bottom: 30px;
  }
  .profile img{
    width: 250px;
  }
  .profile::before{
    width: 240px;
    height: 240px;
  }
  .intro h1{
    font-size: 32px;
  }
  .intro h3{
    font-size: 18px;
  }
  .title{
    width: 140px;
  }
  nav button{
    display: block;
  }
  .night-mode{
    display: flex;
  }
  .night :where(input, button){
    display: none;
  }
  .moon{
    display: none !important;
  }
  .btnHireMe,
  .btnContactMe{
    font-size: 15px;
  }
  .btnHireMe{
    width: max-content;
  }
  .btnContactMe{
    width: max-content;
  }
  .btnContactMe:hover{
    width: max-content;
  }
  .aboutme-text{
    padding: 0;
  }
  .aboutme-text h1{
    font-size: 24px;
    margin: 0;

  }
  .number-container{
    padding-top: 20px;
  }
  .number-container h1{
    font-size: 20px;
  }
  .number-container p{
    font-size: 10px;
  }
  

}